version: 2.1
jobs:
  build:
    docker:
      - image: circleci/php:7.3.0-node-browsers
      - image: circleci/php:7.3.0-node-browsers
    steps:
      - run:
          name: The First Step
          command: |
            echo 'Hello World!'
            echo 'This is the delivery pipeline'
      - run:
          name: composer install
          command: |
            composer install --dev
      - run:
          name: PHP UNIT
          command: |
            echo 'Hello World!'
            vendor/bin/phpunit